LeaderBoardProject/Library
LeaderBoardProject/Logs
LeaderBoardProject/Temp
LeaderBoardProject/UserSettings
LeaderBoardProject/LeaderBoardProject.sln
LeaderBoardProject/.idea
LeaderBoardProject/obj
LeaderBoardProject/Assets/AddressableAssetsData/iOS/addressables_content_state.bin
